.services {
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-bottom: 9rem;
    margin-top: 9rem;
    margin-bottom: 13rem;
}

.awesome {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    /* gap: 1rem; */
}

.awesome>:nth-child(1) {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome>:nth-child(2) {
    color: orange;
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome>:nth-child(3) {
    color: grey;
    font-size: 18px;
    margin-top: 1rem;
}

.s_button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
}

.cards {
    
    flex: 1;
    position: relative;
}

.cards>* {
    position: absolute;
}

/* blur  */
.s_blur1 {
    top: 61rem;
    left: -18rem;
}

.s_blur2 {
    left: 14rem;
    top: 8rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    width: 30rem;
    height: 12rem;

    /* styles same as work.css */
    background: rgba(255, 255, 255, 0.26);


}

@media screen and (max-width:480px) {
   .services{
    margin-top: 0;
    flex-direction: column;
    gap: 5rem;
    height: 66rem;
    padding: 0;
    
   }  
   .cards{
    display: flex;
    flex-direction: column;
    gap: 17rem;
    
   }
   .cards>*{
    position: static;
   }
}